@import "tailwindcss";

:root {
    --bg-primary: #FFFFFF;
    --bg-secondary: #E8E2D9;
    --bg-tertiary: #111111;
    --text-primary: #000000;
    --accent-primary: #3E7949;
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg-primary: #111111;
        --bg-secondary: #2A2A2A;
        --bg-tertiary: #FFFFFF;
        --text-primary: #FFFFFF;
        --accent-primary: #3E7949;
    }
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
